.avatar{
    width: 64px;
    height: 64px;
    border: 1px solid #bfbfbf;
    border-radius: 100%;
}
.portlet-body{
    margin-top: 30px;
}
.create-new-task{
    height: 100px;
    margin: 10px;
    border: 1px dashed #000;
}

.create-new-task:hover{
    cursor: pointer;
    color: #080808;
}

.type-act:hover {
    cursor: pointer;
}

.config-task{
    display: none;
}

.target-tab{
    height: 100px;
}